:root {
  --font-family: 'Inconsolata', monospace;
  --line-height: 1.20rem;
  --border-thickness: 2px;
  --text-color: #000000;
  --text-color-alt: #000000;
  --background-color: #ffffff;
  --background-color-alt: #eee;
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-weight: var(--font-weight-bold);
}

input {
  border: var(--border-thickness) solid var(--text-color-alt);
}